<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">

      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <a class="page-link" title="read bio" href="/about/">
            <img src="/assets/site-photos/james-bio-picture.jpg" alt="james bio picture" class="footer img james-bio-picture img-stylish"/>
          </a>
          <p>
            {%- if site.email -%}
              <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            {%- endif -%}
          </p>
        </div>
  
        <div class="footer-col footer-col-2">
          {%- include social.html -%}
        </div>
  
        <div class="footer-col footer-col-3">
          <p>{{- site.description | escape -}}</p>

          <p>{{ site.time | date_to_xmlschema }} Last build</p>

          <p class="footer-heading"><button onclick="switchTheme()">Switch Theme</button></p>
        </div>
      </div>
  
    </div>
  
  </footer>  