<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a class="page-link" title="read bio" href="/about/">
          <img src="/assets/site-photos/james-bio-picture.jpg" alt="james bio picture" class="footer img james-bio-picture img-stylish"/>
        </a>
        <p>
          {%- if site.email -%}
            <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
          {%- endif -%}
        </p>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>

        <p>
          <a href="https://github.com/jsr6720/jsr6720.github.io">{{ site.time | date_to_xmlschema }} Last build</a>
        </p>

        <p class="footer-heading">
          <button onclick="switchTheme()">Switch Theme</button>
        </p>
      </div>
    </div>
    <div class="footer-col-wrapper">
      <p>&COPY; 2010-2024 James Rowe. All thoughts and opinions expressed here are solely my own and do not express the views or opinions of my employer(s) past or present.</p>
      <p>
        Unless otherwise noted, all code posted on this site is licensed under the <a href="https://github.com/jsr6720/jsr6720.github.io/blob/main/CODE-LICENSE">MIT License</a> and all other content including but not limited to blog posts, articles and photos, is licensed under the <a href="https://github.com/jsr6720/jsr6720.github.io/blob/main/LICENSE">Creative Commons Attribution 4.0 International License</a>.
      </p>
    </div>
  </div>
</footer>