<ul class="social-media-list">
  {%- if site.linkedin_username -%}
  <li>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" target="_blank" rel="noopener">
      <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
      <span class="username">{{ site.linkedin_username| escape }}</span>
      <svg class="svg-icon external-icon" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42 9.3-9.29H14V3z"></path>
        <path d="M5 5h6v2H7v10h10v-4h2v6H5V5z"></path>
      </svg>
    </a>
  </li>
  {%- endif -%}
  {%- if site.github_username -%}
  <li>
    <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank" rel="noopener">
      <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
      <span class="username">{{ site.github_username| escape }}</span>
      <svg class="svg-icon external-icon" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42 9.3-9.29H14V3z"></path>
        <path d="M5 5h6v2H7v10h10v-4h2v6H5V5z"></path>
      </svg>
    </a>
  </li>
  {%- endif -%}
</ul>
