--
--

.post-navigation {
    margin: 2rem 0;
}

.post-navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.post-navigation li {
    margin: 0;
    flex: 1;
}

.post-navigation .post-nav-next {
    text-align: right;
}

@media (max-width: 600px) {
    .post-navigation ul {
        flex-direction: column;
    }

    .post-navigation .post-nav-next {
        text-align: left;
    }
}
