---
layout: default
---

<div class="home post-list category-page">
  <header class="post-header">
    <h3 class="post-title">Category: {{ page.title | escape }}</h3>
    <p class="post-subtitle">
      You’re viewing a filtered list of posts in this category.
      <a href="{{ '/' | relative_url }}">Back to all.</a>
    </p>
  </header>

  {%- include post-filters.html active_filter=page.category -%}
  <hr class="post-filters-divider" />

  {%- assign posts_in_category = site.categories[page.category] | sort: "date" | reverse -%}
  {%- if posts_in_category and posts_in_category.size > 0 -%}
    {%- for post in posts_in_category -%}
    <div class="post-item">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <div class="post-flex-container">
        <div class="post-left">
          <div class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </div>
          <div class="post-tags">
            {% for tag in post.tags %}
              <span class="post-tag">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="post-date">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </div>
      </div>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </div>
    {%- endfor -%}
  {%- else -%}
    <p>No posts yet in this category.</p>
  {%- endif -%}
</div>
